<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>newchat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-item 
  *ngFor="let item of [1,2,3,4,5,6]" 
  (click)="getchat(item)" 
  detail="true">
    <ion-avatar slot="start">
      <img src="https://i.pravatar.cc/385" alt="">
    </ion-avatar>
    <ion-label>
      Akash
      <p>
        <ion-text>message</ion-text>
      </p>
    </ion-label>
    <ion-text slot="end" color="medium">10:12 am</ion-text>
  </ion-item>
</ion-content>
